* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.25s;
    font-family: 'Open Sans', sans-serif;
}

body {
    padding-top: 72px;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 72px;
    background: #EEF8FF;
}

#main-section {
    border-radius: 15px;
    background: linear-gradient(215deg, #F09443, #D300B4);
}

.font-roboto-slab {
    font-family: "Roboto Slab", serif;
}

.font-roboto-condensed {
    font-family: "Roboto Condensed", sans-serif;
}

#header {
    height: 100px;
    z-index: 1000;
}

#banner {
    border-radius: 20px 20px 0 0;
    display: block;
    font-family: 'Open Sans', sans-serif;
    padding: 8px;
    height: 100px;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.9;
    transition: 0.5s ease-in-out;
    z-index: 2000;
}

.banner-shadow {
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.07);
}

#banner-container {
    display: flex;
    position: relative;
    padding: 0 0 0 24px;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

#banner-title {
    display: flex;
    padding: 4px;
    margin-left: 16px;
    text-decoration: none;
    color: #FFFFFF;
    align-items: center;
    font-size: 18px;
    transition: 0.15s ease-out;
}

#banner-title:hover {
    color: #FFFFFF;
}

#banner-title:active {
    color: #FFFFFF;
    transition: 0.05s ease-out;
}

#banner-navigation {
    display: table-row;
    height: 84px;
    flex-direction: row;
    align-items: center;
    list-style: none;
    vertical-align: middle;
}

.banner-navigation-item {
    display: table-cell;
    height: 84px;
    padding: 0 5px;
    list-style: none;
}

.banner-navigation-item-a {
    border-radius: 15px;
    display: table-cell;
    vertical-align: middle;
    height: 84px;
    text-decoration: none;
    padding: 0 30px;
    color: #FFFFFF;
    transition: 0.15s ease-out;
}

.banner-navigation-item-a:hover {
    color: #FFFFFF;
    background: #00000020;
}

.banner-navigation-item-a:active {
    color: #FFFFFF;
    transition: 0.05s ease-out;
}

#main {
    padding-top: 100px;
    margin-top: -100px;
    border-radius: 20px;
}

#main-content {
    float: left;
}

#main-content-main-text {
    padding: 180px 54px 0px 144px;
    color: #FFFFFF;
    line-height: 2.0;
}

#main-content-main-text a {
    font-family: 'Roboto Slab';
    font-size: 2.5rem;
}

#main-content-second-text {
    padding: 36px 54px 54px 144px;
    color: #FFFFFF;
}

#main-content-second-text a {
    font-family: 'Roboto Slab';
    font-size: 1.25rem;
    opacity: 0.75;
}

#main-content-button {
    padding: 0 54px 72px 144px;
}

#main-content-image {
    padding-top: 144px;
    float: right;
    pointer-events: none;
}

#main-content-image i {
    padding: 144px;
    font-size: 250px;
    color: #FFFFFF;
    opacity: 0.75;
}

#main-waves {
    position: relative;
    pointer-events: none;
}

#copyright {
    text-align: center;
    padding: 20px;
    background: #00000020;
    color: #FFFFFF;
    border-radius: 0 0 15px 15px;
    opacity: 0.75;
}

.taggingtool {
    padding-top: 40px;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.taggingtool_query {
    resize: none;
    overflow: auto;
    min-height: 60vh;
    outline: none;
    border-radius: 20px;
    font-weight: 500;
    color:#5010AA;
    background-color: #FFFFFFC2;
    padding: 30px;
}

.taggingtool_query:hover {
    border-radius: 25px;
}

.taggingtool_query:focus {
    border-radius: 25px;
}

#taggingtool_query_text {
    line-height: 1.75;
}

#taggingtool_query_text_input {
    resize: none;
    overflow: auto;
    min-height: 60vh;
    outline: none;
    border-radius: 20px;
    color:#5010AA;
    background-color: #FFFFFFC2;
    padding: 20px;
}

.btn {
    border: none;
    outline:none;
    cursor: pointer;
    --background: #FFFFFF;
    --shadow: rgba(84, 40, 238, .16);
    --y: 0;
    display: inline-block;
    text-align: center;
    padding: 12px 24px;
    border-radius: 10px;
    color: #D300B4;
    background: var(--background);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    backface-visibility: hidden;
    box-shadow: 0 4px 12px var(--shadow);
    transform: translateY(var(--y));
    transition: box-shadow .3s ease, transform .3s ease;
}

.btn:hover {
    --y: -2px;
    box-shadow: 0 8px 16px var(--shadow);
}

.btn:active {
    --y: 1px;
    box-shadow: 0 4px 8px var(--shadow);
}

.btn-intro {
    font-size: 24px;
    padding: 24px 48px;
    border-radius: 15px;
}

.result {
    display: none;
    width: 75%;
    text-align: center;
    padding: 40px;
    color: #FFFFFF;
    margin: 0 auto;
}

.result_paragraph {
    line-height: 3.0;
    font-weight: 500;
}

#result-title {
    font-family: 'Open Sans';
    font-weight: 900;
    font-size: 36px;
    padding: 40px 80px 80px 80px;
}

.word_per {
    padding: 5px;
}

.word_per_bold {
    font-weight: 700;
    padding: 5px;
}

.word_org {
    padding: 5px;
}

.word_org_bold {
    font-weight: 700;
    padding: 5px;
}

.word_loc {
    padding: 5px;
}

.word_loc_bold {
    font-weight: 700;
    padding: 5px;
}

.word_special_per {
    text-align: center;
    background-color: #6F000075;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin: 3px;
}

.word_special_org {
    text-align: center;
    background-color: #006F0075;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin: 3px;
}

.word_special_loc {
    text-align: center;
    background-color: #00006F75;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin: 3px;
}

.word_special_per:hover {
    box-shadow: 0 0 10px 0px #EEF8FF;
    margin: 6px;
}

.word_special_org:hover {
    box-shadow: 0 0 10px 0px #EEF8FF;
    margin: 6px;
}

.word_special_loc:hover {
    box-shadow: 0 0 10px 0px #EEF8FF;
    margin: 6px;
}

/*

.word_special[data-title] {
    position: relative;
    cursor: help;
}

.word_special[data-title]:hover::before {
    content: attr(data-title);
    display: inline-block;
    position: absolute;
    text-align: center;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 12px;
    background: #000000cc;
    color: #FFFFFF;
    bottom: 48px;
    padding: 5px 15px;
    z-index: 98;
    width: 80px;
    left: 20%;
}

.word_special[data-title]:hover::after {
    border: solid;
    bottom: 42px;
    border-color: #000000cc transparent;
    border-width: 6px 6px 0 6px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

*/
